<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>首页</title>
</head>

<body>
    首页
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        function createLoginButton() {
            let a = document.createElement("a");
            a.innerHTML = "前往登录页面";
            a.href = "/login";
            $("body").append(a);
        }
        $.ajax({
            headers: {
                "Authorization": localStorage.getItem("token")//此处放置请求到的用户token
            },
            url: "/api/login-status",
            type: "GET",
            success: function (data) {
                if (data.code === "200") {
                    // 已登录
                    let button = document.createElement("button");
                    button.innerHTML = "退出登录";
                    button.id = "logout";
                    $("body").append(button);
                    $("#logout").click(function () {
                        $.ajax({
                            headers: {
                                "Authorization": localStorage.getItem("token")//此处放置请求到的用户token
                            },
                            url: "/api/tokens",
                            type: "DELETE",
                            success: function (data) {
                                if (data.code === "200") {
                                    localStorage.removeItem("token");
                                    createLoginButton();
                                    $("#logout").remove();
                                    alert(data.result);
                                } else {
                                    alert(data.message);
                                }
                            }
                        })
                    })
                } else {
                    // 没登录
                    createLoginButton();
                }
            }
        })
    </script>
</body>

</html>