<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>登录页面</title>
</head>

<body>
    <a href="/register">前往注册页面</a>
    <h1>登录页面</h1>
    <label>
        <span>phone:</span>
        <input type="text" id="phone">
    </label>
    <label>
        <span>password:</span>
        <input type="password" id="password">
    </label>
    <button id="login">登录</button>
    <script src="/js/jquery.min.js"></script>
    <script>
        $.ajax({
            headers: {
                "Authorization": localStorage.getItem("TOKEN")
            },
            url: "/api/login-status",
            type: "GET",
            success: function (data) {
                if (data) {
                    location.href = "/";
                }
            }
        })
        $("#login").click(function () {
            $.ajax({
                url: "/api/tokens",
                type: "POST",
                data: {
                    phone: $("#phone")[0].value,
                    password: $("#password")[0].value
                },
                error: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    localStorage.setItem("TOKEN", data);
                    location.href = "/";
                }
            })
        })
    </script>
</body>

</html>