<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>订单页面</title>
    <style>
        th,
        td {
            border: 1px solid #000;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>订单编号</th>
                <th>商品编号</th>
                <th>订单状态</th>
                <th>支付地址</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <a href="/">返回首页</a>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $.ajax({
            url: "/api/orders",
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.code === "200") {
                    let listOrder = data.result;
                    for (let i = 0; i < listOrder.length; i++) {
                        let tr = document.createElement("tr");
                        let stateStr;
                        let id = listOrder[i].id;
                        if (listOrder[i].state === 0) {
                            stateStr = "未支付";
                        } else if (listOrder[i].state === 1) {
                            stateStr = "已支付";
                        } else if (listOrder[i].state === -1) {
                            stateStr = "已失效";
                        }
                        tr.innerHTML = `                <td>${id}</td>
                <td>${listOrder[i].goodsId}</td>
                <td>${stateStr}</td>
                <td><button id="${id}">支付</button></td>`
                        $("tbody").append(tr);
                        $("#" + id).click(function () {
                            $.ajax({
                                url: "/api/orders/" + id,
                                type: "PUT",
                                dataType: "json",
                                success: function (data) {
                                    if (data.code === "200") {
                                        alert(data.result);
                                    } else {
                                        alert(data.message);
                                    }
                                }
                            })
                        })
                    }
                } else {
                    alert(data.message);
                    if (data.code === "401") {
                        window.location.href = "/";
                    }
                }
            }
        })
    </script>
</body>

</html>