<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>购买页面</title>
    <style>
        th,
        td {
            border: 1px solid #000;
        }

        .windows {
            border: 1px solid #000;
            padding: 8px;
            width: 323px;
            height: 200px;
            position: fixed;
            margin: auto;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
        }
    </style>
</head>

<body>
    <table>
        <thead>
            <tr>
                <th>商品名称</th>
                <th>商品数量</th>
                <th>价格</th>
                <th>商品状况</th>
                <th>下单地址</th>
            </tr>
        </thead>
        <tbody>
        </tbody>
    </table>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script th:inline="javascript">
        function getTime(startTime, endTime) {
            // 获取时间差
            let leftTime = endTime - startTime;
            // 将时间差转换成可视数据 天 时 分 秒
            let d, h, m, s;
            d = Math.floor(leftTime / 1000 / 60 / 60 / 24);
            h = Math.floor(leftTime / 1000 / 60 / 60 % 24);
            m = Math.floor(leftTime / 1000 / 60 % 60);
            s = Math.floor(leftTime / 1000 % 60);
            return `${d}天 ${h}小时 ${m}分 ${s}秒`;
        }

        let flag = true;

        function setState(startTime, endTime) {
            let nowTime = Date.now(),
                state = $("#state")[0],
                url = $("#url")[0];
            startTime = new Date(startTime).getTime();
            endTime = new Date(endTime).getTime();
            if (nowTime < startTime) {
                // 活动还没开始
                state.innerHTML = "活动开始倒计时:" + getTime(nowTime, startTime);
                url.innerHTML = "";
            } else if (nowTime < endTime) {
                if (flag) {
                    $.ajax({
                        url: "/api/goods-url/[[${session.goodsId}]]",
                        type: "POST",
                        dataType: "json",
                        success: function (data) {
                            if (data.code === "200") {
                                url.innerHTML = `<button id="url">点击下单</button>`;
                                $("#url").click(function () {
                                    $.ajax({
                                        url: data.result,
                                        type: "POST",
                                        dataType: "json",
                                        success: function (data) {
                                            if (data.code === "200") {
                                                let div = document.createElement("div");
                                                div.innerHTML = `    <div class="windows">
        <span>订单已创建成功，<a href="/order">点击此处跳转到订单页面</a></span>
        <span>注意: <strong>5分钟</strong>内如果没有进行支付，订单会自动失效</span>
    </div>`;
                                                $("body").append(div);
                                            } else {
                                                alert(data.message);
                                            }
                                        }
                                    })
                                })
                                flag = false;
                            } else {
                                console.log(data.message);
                            }
                        }
                    })
                }
                // 活动进行中
                state.innerHTML = "活动结束倒计时:" + getTime(nowTime, endTime);
            } else {
                // 活动已结束
                state.innerHTML = "活动已结束";
                url.innerHTML = "";
                clearInterval(intervalId);
            }
        }

        let intervalId;

        $.ajax({
            url: "/api/goods/[[${session.goodsId}]]",
            type: "GET",
            dataType: "json",
            success: function (data) {
                if (data.code === "200") {
                    let goods = data.result;
                    let tr = document.createElement("tr");
                    tr.innerHTML = `
                    <td>${goods.name}</td>
                    <td>${goods.number}</td>
                    <td>${goods.price}</td>
                    <td id="state">加载中……</td>
                    <td id="url">加载中……</td>
                    `
                    $("tbody").append(tr);
                    intervalId = setInterval(function () {
                        setState(goods.startTime, goods.endTime);
                    }, 1000)
                } else {
                    window.location.href = "/login";
                }
            }
        })
    </script>
</body>

</html>