<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>
</head>
<body>
<h1>注册页面</h1>
<form action="/api/users" method="post">
    <label>
        <span>phone:</span>
        <input type="text" name="phone">
    </label>
    <label>
        <span>password:</span>
        <input type="password" name="password">
    </label>
    <button type="button" id="register">注册</button>
</form>
<a href="/login">前往登录页面</a>
<script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script>
        // 给登录按钮绑定事件
        $("#register").click(function () {
        $.ajax({
            url: "/api/users",
            type: "POST",
            dataType: "json",
            data: {
                phone: $("[name=phone]")[0].value,
                password: $("[name=password]")[0].value,
            },
            success: function (data) {
                if (data.code === "200") {
                    alert(data.result);
                } else {
                    alert(data.message);
                }
            }
        })
    })
</script>
</body>
</html>