<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册页面</title>
</head>
<body>
    <a href="/login">前往登录页面</a>
    <a href="/">前往首页</a>
    <h1>注册页面</h1>
    <label>
        <span>phone:</span>
        <input type="text" id="phone">
    </label>
    <label>
        <span>password:</span>
        <input type="password" id="password">
    </label>
    <button id="login">注册</button>
    <script src="/js/jquery.min.js"></script>
    <script>
        $("#login").click(function () {
            $.ajax({
                url: "/api/users",
                type: "POST",
                data: {
                    phone: $("#phone")[0].value,
                    password: $("#password")[0].value
                },
                error: function (data) {
                    alert(data.responseText);
                },
                success: function (data) {
                    alert(data);
                }
            })
        })
    </script>
</body>
</html>