<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>registered</title>
</head>

<body>
    <a href="/login">跳转到登录页面</a>
    <a href="/">跳转到首页</a>
    <h1>注册页面</h1>
    <label>
        <span>电话号码:</span>
        <input type="text" name="phone">
    </label>
    <label>
        <span>密码:</span>
        <input type="password" name="password">
    </label>
    <button id="login">注册</button>
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script>
        $("#login").click(function () {
            $.ajax({
                url: "/api/users",
                type: "POST",
                data: {
                    phone: $("[name=phone]")[0].value,
                    password: $("[name=password]")[0].value
                },
                success: function (data) {
                    if (data.code === "200") {
                        alert(data.result);
                    } else {
                        alert(data.message);
                    }
                }
            })
        })
    </script>
</body>

</html>